<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Matriculas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link th:href="@{/css/estilo.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/81a2ed02b0.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <h2>Listado de Facilitadores</h2>
            <div th:replace="nav :: menu"></div>
        </header>
        <main>
            <div class="row">
                <div class="col md-3">
                    <a th:href="@{/teacher/new}" class="btn btn-primary">Crear Facilitador</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table" id="teachers">
                        <thead class="table-light">
                        <tr>
                            <th>Nombre</th>
                            <th>Rut</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="teacher: ${teachers}">
                                <td th:text="${teacher.name}"></td>
                                <td th:text="${teacher.dni}"></td>
                                <td th:text="${teacher.email}"></td>
                                <td th:text="${teacher.phone}"></td>
                                <td>
                                    <a th:href="@{/teacher/edit/{id}(id=${teacher.teacherId})}"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a th:href="@{/teacher/del/{id}(id=${teacher.teacherId})}"><i class="fa-solid fa-trash-can"></i></a>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </main>
    </div>
    <script>
    $(document).ready( function () {
    $('#teachers').DataTable();
    } );
</script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>